<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>OWT - keeping track of your weight</ion-card-subtitle>
      <ion-card-title>Open Weight Tracker</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A leightweight (no pun intended) weight-tracker, focusing on simplicity and
      privacy! OWT does not require any registration, nor does it save your tracked
      data on any remote server. All your data stays on your own device. No advertisments,
      no hidden terms of use, no lock-in, everything open source! Keep track of your weight,
      completely anonymous and without a hassle.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="cafe" slot="start" class="activated"></ion-icon>
      <ion-label>1) Wake up, make coffee, morning-routine</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="color-fill" slot="start"></ion-icon>
      <ion-label>2) Go to the toilet, pee and crap like there is no tomorrow</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start" class="activated"></ion-icon>
      <ion-label>3) Stand on your scales and weigh your weight.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="phone-portrait" slot="start"></ion-icon>
      <ion-label>4) Open up OWT on your favorite device (e.g. smart-phone) and track your weight</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
