.css-trackbox {
    width: 90%;
    max-width: 500px;

    padding: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;
    border: 1px solid #B6B8BF;
    box-shadow: 0 0 5px #86888F;
    transition: box-shadow 1s;
}

.css-trackbox:hover {
    box-shadow: 0 0 15px #86888F;
}

.css-trackbox-track-button {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}